<section class="about-mission section-offset">
  <div class="container">
    <h2 class="title title--center">Преимущества</h2>
    <p class="descr descr--center">
      Наша миссия – установить самые высокие стандарты в сфере строительства.
    </p>
    <ul class="list-reset mission__list grid">
      <li class="mission__item mission__item--quality">
        <h3 class="mission__subtitle">Качество</h3>
        <p class="mission__descr">
          Мы стремимся к постоянному повышению качества наших услуг.
          Компания Elysium использует только высококачественные материалы и современное оборудование, чтобы гарантировать долговечность и надежность наших строительных проектов.
        </p>
      </li>
      <li class="mission__item mission__item--safety">
        <h3 class="mission__subtitle">Профессионализм</h3>
        <p class="mission__descr">
          Мы обладаем богатым опытом в строительстве и ремонте, а также широким спектром знаний и навыков.
          Наша команда состоит из высококвалифицированных специалистов, которые обладают глубокими знаниями в своей области.
        </p>
      </li>
      <li class="mission__item mission__item--comfort">
        <h3 class="mission__subtitle">Комфорт</h3>
        <p class="mission__descr">
          Мы понимаем, что каждый проект уникален, поэтому мы предлагаем индивидуальный подход к каждому клиенту.
          Наши специалисты тщательно анализируют ваши потребности и предлагают наилучшие решения, которые отвечают вашим требованиям и бюджету.
        </p>
      </li>
    </ul>
  </div>
</section>
