<section class="achieve">
  <h2 class="visually-hidden">Наши достижения</h2>
  <div class="container">
    <ul class="achieve__list grid list-reset">
      <li class="achieve__item achieve__item--reccom">
        <div class="achieve__value">80%</div>
        <div class="achieve__text">Нас рекомендуют</div>
      </li>
      <li class="achieve__item achieve__item--renov">
        <div class="achieve__value">2400+</div>
        <div class="achieve__text">Выполненных проектов</div>
      </li>
      <li class="achieve__item achieve__item--spec">
        <div class="achieve__value">670</div>
        <div class="achieve__text">Квалифицированных специалистов</div>
      </li>
      <li class="achieve__item achieve__item--finish">
        <div class="achieve__value">150000+&nbsp;m<sup>2</sup></div>
        <div class="achieve__text">Отделочных работ</div>
      </li>
    </ul>
    <div class="achieve__content">
      <img src="img/achieve-man.jpg" alt="" aria-hidden="true" class="achieve__image">
      <div class="achieve__info">
        <blockquote class="achieve__quote quote">
          <div class="quote__content">
            <p>Elysium не просто строит здания. Мы строим мечты, воплощаем идеи и создаем пространства, где люди могут реализовывать свой потенциал.
              Наша цель - не только построить прочные стены, но и вдохнуть жизнь в каждый проект.
              Мы стремимся создавать инновационные и устойчивые решения, которые впечатляют, вдохновляют и оставляют след в нашем мире.
            </p>
            <p>
              Мы уже достигли так многого, но у нас есть еще более амбициозные цели на горизонте.
              Мы будем продолжать раститься и развиваться, внедрять новые технологии и инновации,
              чтобы оставаться впереди общественных ожиданий.
            </p>
          </div>
          <footer class="quote__footer">
            <span class="quote__author">Роман Альманович</span>
            CEO - Elysium
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
