<section class="categories">
  <div class="container">
    <h2 class="title title--center categories__title">Категории</h2>
    <ul class="list-reset categories-nav">
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn categories-nav__btn--active">Все новости</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Новости компании</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Инновации</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Новости отрасли</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Советы экспертов</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Маркетинг</button>
      </li>
    </ul>
    <ul class="list-reset categories-list grid">
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/news/recent-article-1.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Как построить инфраструктуру, устойчивую к изменению климата</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Новости отрасли</a>
              <time class="article-meta__item">Март 24, 2024</time>
              <span class="article-meta__item article-meta__item--comments">4 комментария</span>
            </div>
            <p class="news-article__descr">
              Построение инфраструктуры, устойчивой к изменению климата, требует принятия комплексных мер и учета различных факторов...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/news/recent-article-2.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Строительная компания Elysium внедряет экологически чистые материалы</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Новости компании</a>
              <time class="article-meta__item">Апрель 11, 2024</time>
              <span class="article-meta__item article-meta__item--comments">3 комментария</span>
            </div>
            <p class="news-article__descr">
              Наша строительная компания принимает экологически ответственный подход, переходя на использование новых материалов...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/news/recent-article-3.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Новая строительная технология обещает революцию в отрасли</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Инновации</a>
              <time class="article-meta__item">Март 7, 2024</time>
              <span class="article-meta__item article-meta__item--comments">12 комментариев</span>
            </div>
            <p class="news-article__descr">
              Разработан инновационный метод строительства, который позволяет сократить время и затраты на возведение зданий...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/news/recent-article-4.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Инвестиционный фонд вкладывает средства в развитие инфраструктуры</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Маркетинг</a>
              <time class="article-meta__item">Февраль 18, 2024</time>
              <span class="article-meta__item article-meta__item--comments">3 комментария</span>
            </div>
            <p class="news-article__descr">
              Крупный инвестиционный фонд объявил о планах вложить значительные средства в развитие строительства инфраструктуры...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/news/recent-article-5.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Рекордный небоскреб завершен в городе</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Новости отрасли</a>
              <time class="article-meta__item">Апрель 8, 2024</time>
              <span class="article-meta__item article-meta__item--comments">Нет комментариев</span>
            </div>
            <p class="news-article__descr">
              Завершено строительство самого высокого здания в городе, ставшего новой достопримечательностью...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/news/recent-article-6.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Государство запускает программу по реновации жилищного фонда</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Советы экспертов</a>
              <time class="article-meta__item">Февраль 25, 2024</time>
              <span class="article-meta__item article-meta__item--comments">1 комментарий</span>
            </div>
            <p class="news-article__descr">
              В рамках новой программы правительство выделяет средства на реконструкцию и модернизацию старых жилищных домов...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="list-reset categories-pag">
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link categories-pag__link--active">1</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">2</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">3</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">4</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link" aria-label="next page">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
