<section class="contacts">
  <div class="container">
    <h2 class="title title--center">Свяжитесь с нами</h2>
    <p class="descr descr--center">Пожалуйста, заполните форму. Подробная информация поможет нам сделать грамотное предложение.</p>
    <div class="contacts__content">
      <img class="contacts__image" src="img/contacts-image.jpg" alt="" aria-hidden="true">
      <form action="#" class="form-contacts">
        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Имя*</span>
            <input type="email" name="name" required placeholder="Введите ваше имя" class="form-field__input">
          </label>
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Я заинтересован(а) в</span>
            <select name="insterested" class="form-field__select">
              <option value="">Выберете раздел</option>
              <option value="Interior_Design">Дизайн интерьера</option>
              <option value="Interior_Design">Проектирование</option>
              <option value="Interior_Design">Строительство новых зданий</option>
              <option value="Interior_Design">Ремонт и реконструкция</option>
            </select>
          </label>
        </div>
        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Телефон*</span>
            <input type="tel" name="phone" required placeholder="Введите ваш номер телефона" class="form-field__input">
          </label>
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Расположение</span>
            <select name="location" class="form-field__select" required>
              <option value="">Выберете ваше расположение</option>
              <option value="New_York">Москва</option>
              <option value="New_York">Санкт-Петербург</option>
              <option value="New_York">Минск</option>
              <option value="New_York">Гомель</option>
            </select>
          </label>
        </div>
        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Email</span>
            <input type="email" name="email" placeholder="Введите вашу почту" class="form-field__input">
          </label>
          <fieldset class="form-field form-contacts__fields">
            <legend class="form-field__caption">Предпочтительный способ связи</legend>
            <div class="form-field__flex">
              <label class="custom-radio form-contacts__radio">
                <input type="radio" name="contact_method" value="Phone" class="custom-radio__input">
                <span class="custom-radio__text">Телефон</span>
              </label>
              <label class="custom-radio form-contacts__radio">
                <input type="radio" name="contact_method" value="Email" class="custom-radio__input">
                <span class="custom-radio__text">Email</span>
              </label>
              <label class="custom-radio form-contacts__radio">
                <input type="radio" name="contact_method" value="Viber" class="custom-radio__input">
                <span class="custom-radio__text">Viber</span>
              </label>
            </div>
          </fieldset>
        </div>
        <label class="form-field form-field--gray form-contacts__field form-contacts__field--big">
          <span class="form-field__caption">Сообщение*</span>
          <textarea name="message" placeholder="Введите ваше сообщение"
            class="form-field__input form-field__input--big"></textarea>
        </label>
        <div class="form-contacts__bottom">
          <label class="custom-checkbox form-contacts__checkbox">
            <input type="checkbox" class="custom-checkbox__input">
            <span class="custom-checkbox__text">Я согласен получать сообщения от строительной компании Elysium.</span>
          </label>
          <button class="form-contacts__btn btn btn--fill" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
