<section class="desicions">
  <div class="container grid">
    <div class="desicions__left">
      <img src="img/desicions-image.jpg" alt="" aria-hidden="true">
    </div>
    <div class="desicions__right">
      <h2 class="title desicions__title">Новаторские решения</h2>
      <ul class="list-reset desicions__list">
        <li class="desicions__item">Зеленые технологии.</li>
        <li class="desicions__item">Умное управление.</li>
        <li class="desicions__item">Гибкие офисные пространства.</li>
        <li class="desicions__item">Инновационная система безопасности.</li>
        <li class="desicions__item">Экологическая ландшафтная архитектура.</li>
        <li class="desicions__item">Пространства для совместной работы.</li>
      </ul>
    </div>
  </div>
</section>
