<section class="page-hero page-hero--about">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">О нас</a>
      </li>
    </ul>
    <h1 class="page-hero__title">О нас</h1>
    <p class="page-hero__descr">
      Строительная компания Elysium успешно работает на рынке с 2000 года.
      Мы рады предложить Вам качественные услуги и образцовый сервис.
    </p>
  </div>
</section>
