<section class="page-hero page-hero--contacts">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Контакты</a>
      </li>
    </ul>
    <h1 class="page-hero__title">Контакты</h1>
    <p class="page-hero__descr">
      Не стесняйтесь обращаться к нам с любыми вопросами, связанными со строительством. Мы всегда рады принять ваши запросы и комментарии.
    </p>
  </div>
</section>
