<section class="hero">
  <h1 class="visually-hidden">Createx Construction Bureau</h1>
  <div class="hero-slider">
    <div class="swiper-pagination hero__pag"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero-slide">
          <div class="container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Строим Будущее</h1>
              <p class="main-descr main-descr--home">
                Наша строительная компания - ваш надежный партнер в реализации любых строительных проектов.
                Мы предлагаем полный спектр услуг, начиная от проектирования и заканчивая строительством и ремонтом.
              </p>
              <div class="hero__btns">
                <a href="about.html"><button class="btn-reset btn btn--stroke btn--stroke-light">Узнайте больше о нас</button></a>
                <a href="contacts.html"><button class="btn-reset btn btn--fill">Сотрудничать</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</section>
