<section class="page-hero page-hero--services-inner">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="services.html" class="breadcrumbs__link">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Дизайн интерьера</a>
      </li>
    </ul>
    <h1 class="page-hero__title">Дизайн интерьера</h1>
    <p class="page-hero__descr">
      Elysium предлагает услуги по дизайну интерьера, чтобы создать пространство, которое отражает ваш стиль и удовлетворит ваши желания.
    </p>
  </div>
</section>
