<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">
        Наша история
      </h2>
      <div class="slider-nav history__slider-nav">
        <button class="btn-reset slider-nav__btn history__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn history__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content grid">
      <ul class="list-reset history-nav">
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn history-nav__btn--active">Настоящее</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Сентябрь 2023</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Июнь 2020</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Феврать 2015</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Август 2010</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Март 2007</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Май 2004</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Ноябрь 2001</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">Апрель 2000</button>
        </li>
      </ul>
      <div class="history__item history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/history/history-9.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Признание и награды: Благодаря нашим успешным проектам, инновационным подходам и приверженности к качеству, Elysium была признана ведущей компанией в отрасли.
              Мы получили различные награды и признание за наш вклад в строительную индустрию и нашу способность предоставлять выдающиеся результаты для наших клиентов.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-8.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Технологический прогресс: Мы активно внедряем новейшие технологии в наши процессы проектирования и строительства.
              Использование BIM (Building Information Modeling), виртуальной реальности, дронов и других современных инструментов позволяет нам повышать эффективность работы, улучшать взаимодействие с клиентами и достигать высокого качестви контроля во время выполнения проектов.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-7.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Развитие новых направлений: С целью диверсификации и расширения нашего бизнеса мы начали развивать новые направления, такие как реконструкция и реставрация исторических зданий, развитие жилых комплексов, коммерческих объектов и других типов недвижимости.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-6.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Устойчивое строительство: Мы приняли на себя ответственность за экологическую устойчивость и стали активно внедрять инновационные практики и технологии в наши проекты.
              Мы стали лидерами в области устойчивого строительства, используя энергоэффективные материалы, обращая внимание на переработку отходов и уменьшение негативного воздействия на окружающую среду.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-5.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Расширение географического охвата: С успехом на местном рынке мы приступили к расширению своего географического охвата.
              Мы начали работать над проектами в других регионах, странах или даже континентах, что позволило нам привлекать новых клиентов и развивать нашу компанию.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-4.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Партнерство с ведущими архитектурными бюро: Для усиления нашего дизайнерского подхода и создания уникальных проектов, мы установили стратегические партнерства с ведущими архитектурными бюро.
              Это помогло нам привлечь новые клиенты и укрепить нашу позицию на рынке.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-3.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Расширение команды и экспертов: С увеличением объема проектов и успешным выполнением заказов мы расширили нашу команду и привлекли опытных специалистов в области архитектуры, инженерии, управления проектами и других областей.
              Это позволило нам расширить нашу экспертизу и предложить более разнообразные услуги.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-2.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Первые успехи и рост: В течение нескольких лет после основания Elysium достигла первых важных успехов.
              Мы завершили несколько значимых проектов, получили положительные отзывы от клиентов и установили свою репутацию как надежная и профессиональная компания.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="../img/history/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Основание компании: Elysium была основана в 2000 году.
              Мы начали свою деятельность с небольшой команды и ясной миссией - создавать качественные и инновационные строительные проекты.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
