<section class="how-we-do">
  <div class="container">
    <h2 class="title how-we-do__title">Вот как мы это делаем</h2>
    <ul class="list-reset how-we-do__list grid">
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Договор</h3>
        <p class="how-we-do__descr">
          После согласования дизайна интерьера, клиент и строительная компания заключают официальный договор,
          который определяет условия и сроки выполнения работ, бюджет проекта и другие существенные детали.
        </p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Подготовка рабочих чертежей</h3>
        <p class="how-we-do__descr">
          Дизайнеры и архитекторы компании начинают подготовку рабочих чертежей,
          которые включают планы помещений, размещение мебели, электрические схемы, планы освещения и другие необходимые технические детали.
        </p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Выбор и закупка материалов</h3>
        <p class="how-we-do__descr">
          Команда дизайнеров и клиент сотрудничают в процессе выбора материалов.
          После выбора материалов и отделочных элементов, строительная компания занимается закупкой и организацией поставки всего необходимого.
        </p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Строительные работы</h3>
        <p class="how-we-do__descr">
          После получения материалов и необходимых разрешений строительная компания начинает выполнять строительные работы в соответствии с утвержденным дизайном и рабочими чертежами.
        </p>
      </li>
    </ul>
  </div>
</section>
