<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Портфолио</h2>
    <ul class="list-reset portfolio-tabs-nav">
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active" data-path="all">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#house"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Все проекты</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="constr">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-1"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Строительство</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="dev">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-2"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Разработка проекта</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="design">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-3"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Дизайн интерьера</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn" data-path="repair">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-4"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Ремонт</span>
        </button>
      </li>
    </ul>
    <ul class="list-reset portfolio-tabs grid">
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="repair">
          <img class="portfolio-item__image" src="img/building/portfolio-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Эвергрин Хайтс</h3>
            <span class="portfolio-item__descr">Торговый центр</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="repair">
          <img class="portfolio-item__image" src="img/building/portfolio-2.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Изумрудные Апартаменты</h3>
            <span class="portfolio-item__descr">Жилой комплекс</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-3.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Радужный Парк</h3>
            <span class="portfolio-item__descr">Комплекс небоскребов</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="constr">
          <img class="portfolio-item__image" src="img/building/portfolio-4.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Кристалл Плаза</h3>
            <span class="portfolio-item__descr">Стильные резиденции</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="design">
          <img class="portfolio-item__image" src="img/building/portfolio-5.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Искра-Тауэр</h3>
            <span class="portfolio-item__descr">Бизнес центр</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="constr">
          <img class="portfolio-item__image" src="img/building/portfolio-6.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Водопадные каскады</h3>
            <span class="portfolio-item__descr">Таунхаус</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-7.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Алмазная крепость</h3>
            <span class="portfolio-item__descr">Офисные здания</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-8.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Дворец Зеркал</h3>
            <span class="portfolio-item__descr">Гостевой дом</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-9.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Железный океан</h3>
            <span class="portfolio-item__descr">Ресторан</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-10.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Королевская резиденция</h3>
            <span class="portfolio-item__descr">Центр исследований</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-11.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Искрящаяся высота</h3>
            <span class="portfolio-item__descr">Больничный комплекс</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-12.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Лунный дворец</h3>
            <span class="portfolio-item__descr">Логистический центр</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-13.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Кристальная башня</h3>
            <span class="portfolio-item__descr">Курортный комплекс</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-14.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Замок Вечности</h3>
            <span class="portfolio-item__descr">Торговый центр</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-15.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Солнечный оазис</h3>
            <span class="portfolio-item__descr">Центр исследований</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-16.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Стеклянный лабиринт</h3>
            <span class="portfolio-item__descr">Стильные резиденции</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-17.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Жемчужный манеж</h3>
            <span class="portfolio-item__descr">Гостевой дом</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="dev">
          <img class="portfolio-item__image" src="img/building/portfolio-18.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Замок Потоков</h3>
            <span class="portfolio-item__descr">Офисные здания</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="design">
          <img class="portfolio-item__image" src="img/building/portfolio-19.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Башня Ветров</h3>
            <span class="portfolio-item__descr">Таунхаус</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a href="work-1.html" class="portfolio-item" data-target="design">
          <img class="portfolio-item__image" src="img/building/portfolio-20.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Звездный сад</h3>
            <span class="portfolio-item__descr">Бизнес центр</span>
            <div class="portfolio-item__btn">Посмотреть проект</div>
          </div>
        </a>
      </li>
    </ul>
    <div class="centered">
      <button class="btn-reset portfolio-more">
        <svg>
          <use xlink:href="img/sprite.svg#load-more"></use>
        </svg>
        Load more
      </button>
    </div>
  </div>
</section>
