<section class="positions-content">
  <h2 class="visually-hidden">Наши доступные вакансии</h2>
  <div class="container">
    <div class="positions-content__info grid">
      <div class="positions-content__left">
        <ul class="list-reset positions-list">
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">Минск</span>
                  <span class="positions-item__time">Полный рабочий день</span>
                </div>
                <h3 class="positions-item__title">Архитектор</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">Откликнуться</a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">Москва</span>
                  <span class="positions-item__time">Полный рабочий день</span>
                </div>
                <h3 class="positions-item__title">Техник-строитель</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">Откликнуться</a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">Санкт-Петербург</span>
                  <span class="positions-item__time">Полный рабочий день</span>
                </div>
                <h3 class="positions-item__title">Кровельщик</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">Откликнуться</a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">Гомель</span>
                  <span class="positions-item__time">Полный рабочий день</span>
                </div>
                <h3 class="positions-item__title">Менеджер по строительству</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">Откликнуться</a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">Минск</span>
                  <span class="positions-item__time">Полный рабочий день</span>
                </div>
                <h3 class="positions-item__title">Рабочий по бетонированию</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">Откликнуться</a>
            </article>
          </li>
        </ul>
      </div>
      <div class="positions-content__right">
        <div class="positions-looking">
          <h3 class="positions-looking__title">
            Не нашли то, что искали?
          </h3>
          <p class="positions-looking__descr">
            Отправьте свое резюме или подпишитесь на нашу рассылку, чтобы получать информацию о новых вакансиях.
          </p>
          <div class="positions-looking__btns">
            <button
              class="btn-reset btn btn--stroke-primary positions-looking__btn positions-looking__btn--subs"
              data-graph-animation="custom" data-graph-path="first">Подписаться</button>
            <button class="btn-reset btn btn--fill positions-looking__btn positions-looking__btn--send"
              data-graph-animation="custom" data-graph-path="second">Резюме</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
