<section class="project-goal">
  <div class="container grid">
    <div class="project-goal__left">
      <h2 class="title project-goal__title">Цель проекта</h2>
      <p class="project-goal__descr">
        Современное коммерческое здание, предназначенное для предоставления офисных помещений и услуг для небольших и средних предприятий.
        Он располагается в центре города или деловой части, обеспечивая удобный доступ к различным учреждениям и удобства для арендаторов.
      </p>
      <p class="project-goal__descr">
        Необходимо было построить торговый центр 25 589 кв.м. из 5-ти этажей и подземного паркинга.
      </p>
    </div>
    <div class="project-goal__right">
      <div class="project-info">
        <ul class="project-info__list list-reset">
          <li class="project-info__item">
            <div class="project-info__category">Расположение</div>
            <div class="project-info__value">г.Москва, ул.Волохова 18</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Клиент</div>
            <div class="project-info__value">GreenTech Solutions</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Архитектор</div>
            <div class="project-info__value">RAV Architecture</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Размер</div>
            <div class="project-info__value">25 589 кв.м.</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Стоимость</div>
            <div class="project-info__value">$10 миллионов</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Дата завершения</div>
            <div class="project-info__value">Апрель 2024</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
