<section class="recent-news">
  <div class="container">
    <h2 class="title title--center recent-news__title">Свежие новости</h2>
    <ul class="list-reset recent-news__list grid">
      <li class="recent-news__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Как построить инфраструктуру, устойчивую к изменению климата</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Новости отрасли</a>
              <time class="article-meta__item">Март 24, 2024</time>
              <span class="article-meta__item article-meta__item--comments">4 комментария</span>
            </div>
            <p class="news-article__descr">
              Построение инфраструктуры, устойчивой к изменению климата, требует принятия комплексных мер и учета различных факторов.
              Вот несколько ключевых...
            </p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article class="news-article news-article--small">
          <img src="img/recent-article-2.jpg" alt="article 2" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Как строительство может помочь само себе</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Инновации</a>
              <time class="article-meta__item" >Апрель 12, 2024</time>
              <span class="article-meta__item article-meta__item--comments">1 комментарий</span>
            </div>
            <p class="news-article__descr">
              Строительство имеет потенциал помочь самому себе, применяя различные стратегии и подходы. Вот несколько способов...
            </p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article class="news-article news-article--small">
          <img src="img/recent-article-3.jpg" alt="article 3" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Виды материалов для напольных покрытий</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Новости компании</a>
              <time class="article-meta__item">Февраль 1, 2024</time>
              <span class="article-meta__item article-meta__item--comments">Нет комментариев</span>
            </div>
            <p class="news-article__descr">
              Существует множество различных материалов, которые могут использоваться для напольных покрытий. Вот некоторые из...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <div class="recent-news__learn learn-more">
      <h4 class="learn-more__subtitle">Ознакомьтесь со всеми нашими новостями</h4>
      <a href="news.html" class="btn-reset learn-more__btn btn btn--fill">Посмотреть все новости</a>
    </div>
  </div>
</section>
