<section class="services-benefits section-offset">
  <div class="container">
    <h2 class="title title--center services-benefits__title">Наши преимущества</h2>
    <p class="descr descr--center services-benefits__description">
      Наша миссия – установить самые высокие стандарты в сфере строительства.
    </p>
    <ul class="list-reset services-benefits__list grid">
      <li class="services-benefits__item services-benefits__item--terms">
        <h3 class="services-benefits__subtitle">Фиксированные условия и стоимость</h3>
        <p class="services-benefits__descr">
          Elysium предлагает своим клиентам фиксированные условия и стоимость строительства.
          Это означает, что клиенты могут точно знать, сколько будет стоить проект и какие условия будут действовать на протяжении всего процесса.
        </p>
      </li>
      <li class="services-benefits__item services-benefits__item--workers">
        <h3 class="services-benefits__subtitle">Квалифицированные работники</h3>
        <p class="services-benefits__descr">
          Elysium имеет команду высококвалифицированных работников, включая инженеров, архитекторов и строителей.
          Каждый сотрудник компании проходит строгий отбор и обладает необходимыми навыками и опытом для выполнения различных видов строительных работ.
        </p>
      </li>
      <li class="services-benefits__item services-benefits__item--control">
        <h3 class="services-benefits__subtitle">Надзор и контроль процесса</h3>
        <p class="services-benefits__descr">
          Elysium уделяет особое внимание надзору и контролю всего процесса строительства.
          Компания обеспечивает постоянный контроль за выполнением работ, соблюдением сроков и качеством строительных материалов.
        </p>
      </li>
    </ul>
    <div class="centered services-benefits__centered">
      <button class="btn btn-reset btn--fill services-benefits__btn">Обсудить проект</button>
    </div>
  </div>
</section>
