<section class="services">
  <img src="img/services-content-bg-1.png" alt="" aria-hidden="true" class="services-decorate-1">
  <img src="img/services-content-bg-2.png" alt="" aria-hidden="true" class="services-decorate-2">
  <div class="container">
    <h2 class="visually-hidden">Спектр услуг, которые мы оказываем</h2>
    <ul class="list-reset services__list">
      <li class="services__item grid">
        <div class="services__image">
          <img src="img/services/services-content-1.jpg" alt="services 1">
        </div>
        <div class="services__info">
          <h2 class="services__title">Строительство</h2>
          <p class="services__descr">
            Наша компания предлагает полный спектр услуг по строительству, включая возведение новых зданий, реконструкцию и расширение существующих объектов.
            Мы гарантируем высокое качество строительных работ, соблюдение сроков и профессиональный подход к каждому проекту.
          </p>
          <a href="services-1.html" class="services__link btn btn--stroke btn--stroke-primary">Узнать больше</a>
        </div>
      </li>
      <li class="services__item grid services__item--reverse">
        <div class="services__image">
          <img src="img/services/services-content-2.jpg" alt="services 2">
        </div>
        <div class="services__info">
          <h2 class="services__title">Разработка проекта</h2>
          <p class="services__descr">
            Команда экспертов обладает опытом и знаниями для создания уникальных и функциональных проектов. Мы разрабатываем проекты строительства, включая архитектурное проектирование, инженерные решения и планирование.
            Наша цель - создать проекты, которые отражают ваши потребности и превосходят ваши ожидания.
          </p>
          <a href="services-1.html" class="services__link btn btn--stroke btn--stroke-primary">Узнать больше</a>
        </div>
      </li>
      <li class="services__item grid">
        <div class="services__image">
          <img src="img/services/services-content-3.jpg" alt="services 3">
        </div>
        <div class="services__info">
          <h2 class="services__title">Дизайн интерьера</h2>
          <p class="services__descr">
            Мы предлагаем услуги по дизайну интерьера, чтобы создать пространство, которое отражает ваш стиль и удовлетворяет вашим потребностям.
            Наша команда дизайнеров работает в тесном сотрудничестве с вами, чтобы создать уникальные и индивидуальные интерьерные решения, от подбора материалов и мебели до освещения и декора.
          </p>
          <a href="services-1.html" class="services__link btn btn--stroke btn--stroke-primary">Узнать больше</a>
        </div>
      </li>
      <li class="services__item grid services__item--reverse">
        <div class="services__image">
          <img src="img/services/services-content-4.jpg" alt="services 4">
        </div>
        <div class="services__info">
          <h2 class="services__title">Ремонт</h2>
          <p class="services__descr">
            Elysium предоставляет услуги по ремонту, включая ремонт квартир, офисов и коммерческих помещений. Наша команда профессионалов обеспечит качественное выполнение всех необходимых работ, включая сантехнику, электрику, отделку и другие важные аспекты ремонта.
            Мы стремимся сделать процесс ремонта простым и беззаботным для наших клиентов.
          </p>
          <a href="services-1.html" class="services__link btn btn--stroke btn--stroke-primary">Узнать больше</a>
        </div>
      </li>
    </ul>
  </div>
</section>
