<section class="team">
  <div class="container">
    <h2 class="title title--center">
      Команда
    </h2>
    <p class="descr descr--center">
      Люди - сердце строительной компании Elysium
    </p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Роман Альманович</div>
        <div class="team__post">Генеральный директор</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-2.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Елена Иванова</div>
        <div class="team__post">Руководитель отдела архитектуры</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-3.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Ольга Николаева</div>
        <div class="team__post">Финансовый директор</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-4.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Алексей Петров</div>
        <div class="team__post">Главный инженер</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-5.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Сергей Козлов</div>
        <div class="team__post">Руководитель отдела строительства</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-6.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Наталья Ковалева</div>
        <div class="team__post">Руководитель отдела маркетинга и продаж</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-7.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Андрей Морозов</div>
        <div class="team__post">Руководитель отдела качества и контроля</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-8.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Дарья Васильева</div>
        <div class="team__post">Руководитель отдела проектного управления</div>
      </li>
    </ul>
    <div class="team__text">
      Станьте частью лучшей команды на строительном рынке. <a href="positions.html">Доступные вакансии</a>
    </div>
  </div>
</section>
