<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__content">
      <h2 class="title testimonials__title">
        Отзывы наших клиентов
      </h2>
      <div class="swiper testimonials__items swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img src="img/testimonials-author1.jpg" alt="Human 1" class="testimonials-item__image">
              </div>
              <p class="testimonials-item__descr">
                Я очень доволен работой строительной компании Elysium! Они построили мой дом в высоком качеством и в срок.
                Профессионализм и внимание к деталям, проявленные ими, превзошли мои ожидания. Рекомендую Elysium всем, кто ищет надежного партнера для строительства.
              </p>
              <span class="testimonials-item__author">Виктор Митрофанов</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img src="img/testimonials-author2.jpg" alt="Human 1" class="testimonials-item__image">
              </div>
              <p class="testimonials-item__descr">
                Elysium - это компания, которая делает свою работу с любовью и страстью к деталям. Они предоставили нам роскошный и стильный офисный комплекс, который превзошел все наши ожидания.
                Команда Elysium проявила высокий уровень профессионализма и оперативно реагировала на все наши потребности. Мы безусловно будем рекомендовать их всем нашим партнерам и друзьям.
              </p>
              <span class="testimonials-item__author">Мария Понаморёва</span>
            </div>
          </div>
        </div>
        <div class="slider-nav testimonials__slider-nav">
          <button class="btn-reset slider-nav__btn testimonials__prev slider-btn">
            <svg>
              <use xlink:href="img/sprite.svg#left-arrow"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn testimonials__next slider-btn">
            <svg>
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <img src="img/testimonials-image.jpg" alt="" aria-hidden="true" class="testimonials__image">
  </div>
</section>
